*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:sans-serif;
background:linear-gradient(135deg,#ffd8ec,#c8e8ff,#e6cfff);
min-height:100vh;
padding:20px;
}

.dashboard{
display:flex;
gap:20px;
}

.sidebar{
width:250px;
background:rgba(255,255,255,.5);
backdrop-filter:blur(15px);
padding:20px;
border-radius:25px;
}

.main{
flex:1;
}

.card,.table-box{
background:rgba(255,255,255,.5);
padding:25px;
border-radius:25px;
margin-bottom:20px;
}
